
@{
    ViewBag.Title = "DizaynAdmin";


}
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Haber Paneli</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Haberler</h6>
            <a class="collapse-item" href="/Home/OnayBekleyen/">Onay bekleyen haberler</a>
            <a class="collapse-item" href="/Home/TumHaberler/">Bütün haberler</a>
            <a class="collapse-item" href="/Home/HaberEkle/">Yeni haber</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="/Home/KullaniciAktifPasif/">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Kullanıcı Paneli</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Kategori Paneli</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Kategori Paneli:</h6>
            <a class="collapse-item" href="/Home/KategoriListele/">Kategoriler Listesi</a>
            <a class="collapse-item" href="/Home/KategoriEkle">Kategori Ekleme</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Mesaj</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Mesaj:</h6>
            <a class="collapse-item" href="/Message/Message/">Yeni Mesaj</a>
            <a class="collapse-item" href="/Message/Inbox/">Gelen Kutusu</a>

        </div>
    </div>
</li>


