@model IEnumerable<MVCGiris.Models.DenemeModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DropdownMesaj</title>
</head>
<body>

    <table class="table">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.baslik0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icerik0)
            </td>

        </tr>
    }
    
    </table>
</body>
</html>
